In [ ]:
from pandas import DataFrame, Series
import numpy
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
                 'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
olympic_medal_counts_df = DataFrame({'country_name' : Series(countries), 
                                     'gold' : Series(gold), 
                                     'silver' : Series(silver),
                                     'bronze' : Series(bronze)})
numpy.array([gold,silver,bronze]).T
numpy.dot(numpy.array([gold,silver,bronze]).T, [4,2,1])
df = olympic_medal_counts_df
df[ df['gold'] >= 1 ]['bronze'].mean()
df.head()
df[ ( df['gold'] >= 1 ) | ( df['silver'] >= 1 ) | ( df['silver'] >= 1 ) ].mean()
df[ df['gold'] + df['silver'] + df['silver'] >= 1 ].mean()
medals = df[ df['gold'] + df['silver'] + df['silver'] >= 1 ][['gold','silver','bronze']].apply(numpy.sum, axis=0)
medals[ df.dtypes == int ]/df.count()
df.select_dtypes(include=[numpy.int]).mean()
points = numpy.dot(df[['gold','silver', 'bronze']],[4,2,1])
numpy.array([gold,silver,bronze]).T
points = numpy.dot(numpy.array([gold,silver,bronze]).T, [4,2,1])
numpy.array([gold,silver,bronze]).transpose()
olympic_points_df = DataFrame({'country_name' : Series(countries),
                              'points' : Series(points) })

In [2]:
import pandas as pd
path_to_csv = "./p2_problem_sets_234/p2_ps2/Master.csv"
path_to_new_csv = "./p2_problem_sets_234/p2_ps2/FullMaster.csv"
df = pd.read_csv(path_to_csv)
df['nameFull'] = df['nameFirst'] + " " + df['nameLast']
df.to_csv(path_to_new_csv)

In [ ]:
passenger = pd.read_csv("kaggle-titanic/titanic_data.csv")

In [ ]:
passenger.columns

In [ ]:
passenger[passenger['Fare'] > 300].count()

In [ ]:
q = 'Rndom tTt'

In [ ]:
q.lower()

In [ ]:
import json
import requests

baseurl = 'http://ws.audioscrobbler.com/2.0/'
method = 'method=geo.getTopArtists'
api_key = '57ee3318536b23ee81d6b27e36997cde'
api_key = 'api_key=' + api_key
country = 'country=spain'
url = baseurl + '?' + method + '&' + country + '&' + api_key + '&format=json'

def api_get_request(url):
    # In this exercise, you want to call the last.fm API to get a list of the
    # top artists in Spain. The grader will supply the URL as an argument to
    # the function; you do not need to construct the address or call this
    # function in your grader submission.
    # 
    # Once you've done this, return the name of the number 1 top artist in
    # Spain. 

    data = requests.get(url)
    data = json.loads(data.text)
    return data['topartists']['artist'][0]['name']

In [ ]:
data = api_get_request(url)
print(data)

In [ ]:
df = pd.read_csv("./p2_problem_sets_234/p2_ps2/Master.csv")

In [ ]:
df.head;

In [ ]:
df =['weight'].mean()

In [ ]:
mpg = 40
distance = 6000
dollar_gallon = 2.30
distance / mpg * dollar_gallon

In [16]:
import pandas
import pandasql

filename = './p2_problem_sets_234/p2/weather_underground.csv'
def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)
    #SELECT fog, MAX(maxtempi) FROM weather_data WHERE fog == 1 order by fog, MAX(maxtempi)
    #SELECT fog, MAX(maxtempi) FROM weather_data GROUP BY fog
    #SELECT DAYNAME(date) from weather_data LIMIT 10
    
    weather_data['date'] = pd.to_datetime(weather_data['date']);
    
    q = """
    SELECT AVG(CAST(mintempi AS INTEGER)) FROM weather_data WHERE
        CAST(rain AS INTEGER) == 1 and
        CAST(mintempi AS INTEGER) > 55;
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days
print(num_rainy_days(filename))

   avg(cast(mintempi as integer))
0                           61.25

In [13]:
df = pandas.read_csv(filename);
df_col_ser = df.columns.to_series();
df_col_ser[df_col_ser.str.startswith('max')];

In [14]:
print([ print(column) for column in list(df.columns) if column.rfind('rain') != -1 ])

rain
[None]

In [15]:
print(df['rain'].head)

<bound method Series.head of 0     0
1     0
2     0
3     1
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    1
19    1
20    1
21    0
22    1
23    0
24    0
25    0
26    0
27    0
28    0
29    1
Name: rain, dtype: int64>

SELECT DAYOFWEEK(date) from weather_data

In [ ]:
q = """
SELECT meantempi from weather_data LIMIT 20;
"""
print(pandasql.sqldf(q.lower(), locals()))

In [ ]:
weather_data.dtypes

In [ ]:
weather_data['date'] = pd.to_datetime(weather_data['date']);

In [ ]:
[weather_data['date'].dt.dayofweek == 5 or weather_data['date'].dt.dayofweek == 6

In [ ]:
pd.Series.dt.dayofweek(weather_data['date'][9])