In [27]:
import pandas as pd
import numpy as np

filename = 'data/updated_turnstile_110507.txt'
Names = ['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn']
# Force dtypes of the sort found on the Udacity version of Pandas
DType = {
    'C/A': object,
    'UNIT' : object,
    'SCP' : object,
    'DATEn' : object,
    'TIMEn' : object,
    'DESCn' : object,
    'ENTRIESn' : object,
    'EXITSn' : object
}
#df= pandas.read_csv(filename,header=None, parse_dates = True, keep_date_col = True, names=Names, dtype=DType)
df= pd.read_csv(filename,header=None, parse_dates = True, keep_date_col = True, names=Names)
df = df[df['DESCn'] == 'REGULAR']
df['DATEn'] = pd.to_datetime(df['DATEn'], format='%m-%d-%y') 
# procedure to convert dtype object to datetime post import
df.TIMEn = pd.to_datetime(df.TIMEn, format = '%H:%M:%S')
df.TIMEn = df.TIMEn.values.astype('datetime64[h]')

df['TIMEn'] = df['TIMEn'].map(lambda x: str(x.hour))
df['DATEn'] = df['DATEn'].map(lambda x: str(x.year) + '-' + str(x.month) + '-' + str(x.day))

In [28]:
df.head(n=5)

    C/A  UNIT       SCP      DATEn TIMEn    DESCn  ENTRIESn   EXITSn
0  A002  R051  02-00-00  2011-4-30     0  REGULAR   3143506  1087907
1  A002  R051  02-00-00  2011-4-30     4  REGULAR   3143547  1087915
2  A002  R051  02-00-00  2011-4-30     8  REGULAR   3143563  1087935
3  A002  R051  02-00-00  2011-4-30    12  REGULAR   3143646  1088024
4  A002  R051  02-00-00  2011-4-30    16  REGULAR   3143865  1088083

In [37]:
import datetime as dt
date_string = '2011-04-30 16:00:00'

date_string = dt.datetime.strptime(date_string, '%m-%d-%Y')
datetime.datetime.strftime(date_string, '%Y-%m-%d')

'16'

```python
df.ENTRIESn = df.ENTRIESn.str.replace('^0*','')
df.EXITSn = df.EXITSn.str.replace('^0*','')
df.ENTRIESn = df.ENTRIESn.str.replace(' *$','')
df.EXITSn = df.EXITSn.str.replace(' *$','')
df.ENTRIESn = df.ENTRIESn.str.replace('^ *','')
df.EXITSn = df.EXITSn.str.replace('^ *','')
#Finally add '0' to all elements of these Series that are now empty,
df.ENTRIESn = df.ENTRIESn.str.replace('^$','0')
df.EXITSn = df.EXITSn.str.replace('^$','0')
print(df.dtypes)
df.to_csv('./test_df.csv')
```

In [ ]:
df.head(n=5)

In [ ]:
#df.ENTRIESn_hourly = 
df.Delta = df.ENTRIESn - df.ENTRIESn.shift(1)

In [ ]:
df.head(n=5)

In [ ]:
df['Delta'] = df.Delta.fillna(1)

In [ ]:
df.head(n=5)

In [ ]:
df.Delta = df.Delta.cumsum()

In [ ]:
df.head(n=5)

In [9]:
t = pd.tslib.Timestamp.now()
t

Timestamp('2015-11-13 22:37:09.886693')

In [12]:
df.TIMEn[1].hour

4

In [30]:
#df['TIMEn'] = df['TIMEn'].map(lambda x: x.hour)

In [15]:
df.head(n=5)

    C/A  UNIT       SCP      DATEn  TIMEn    DESCn  ENTRIESn   EXITSn
0  A002  R051  02-00-00 2011-04-30      0  REGULAR   3143506  1087907
1  A002  R051  02-00-00 2011-04-30      4  REGULAR   3143547  1087915
2  A002  R051  02-00-00 2011-04-30      8  REGULAR   3143563  1087935
3  A002  R051  02-00-00 2011-04-30     12  REGULAR   3143646  1088024
4  A002  R051  02-00-00 2011-04-30     16  REGULAR   3143865  1088083