In [1]:
mu1 = .299
mu2 = .307
N1 = 150
N2 = 165
ss1 = .05
ss2 = .08

In [7]:
from math import sqrt
t = (mu1 - mu2)/sqrt(ss1/N1 + ss2/N2)

nu = (ss1/N1 + ss2/N2)**2/(ss1**2/(N1**2 * (N1 - 1)) + ss2**2/(N2**2 *(N2 - 1)))
print(t, nu)

-0.2796823595120407 307.1987997516727

In [9]:
import scipy.stats as stats
import pandas as pd

In [10]:
bb_stats = pd.read_csv('/home/yigal/Downloads/baseball_stats.csv')

In [11]:
bb_stats.head(n = 10)

              name handedness height weight    avg   HR
0     Brandon Hyde          R     75    210  0.000    0
1      Carey Selph          R     69    175  0.277    0
2     Philip Nastu          L     74    180  0.040    0
3       Kent Hrbek          L     76    200  0.282  293
4      Bill Risley          R     74    215  0.000    0
5             Wood        NaN                0.000    0
6  Steve Gajkowski          R     74    200  0.000    0
7        Rick Schu          R     72    170  0.246   41
8        Tom Brown          R     73    170  0.000    0
9     Tom Browning          L     73    190  0.153    2

In [21]:
lbb_stats = bb_stats[bb_stats.handedness == 'L']
rbb_stats = bb_stats[bb_stats.handedness == 'R']
test = stats.ttest_ind(lbb_stats.avg,rbb_stats.avg, equal_var = False)
significance = 0.05
if test[0] > significance:
    tbool = False
else:
    tbool = True
val = (tbool, test)
print(val)

(False, (9.9357022262420944, 3.8102742258887383e-23))

In [ ]:
from pandas import DataFrame, Series
import numpy
countries = ['Russian Fed.', 'Norway', 'Canada', 'United States',
                 'Netherlands', 'Germany', 'Switzerland', 'Belarus',
                 'Austria', 'France', 'Poland', 'China', 'Korea', 
                 'Sweden', 'Czech Republic', 'Slovenia', 'Japan',
     
             'Finland', 'Great Britain', 'Ukraine', 'Slovakia',
                 'Italy', 'Latvia', 'Australia', 'Croatia', 'Kazakhstan']

gold = [13, 11, 10, 9, 8, 8, 6, 5, 4, 4, 4, 3, 3, 2, 2, 2, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0]
silver = [11, 5, 10, 7, 7, 6, 3, 0, 8, 4, 1, 4, 3, 7, 4, 2, 4, 3, 1, 0, 0, 2, 2, 2, 1, 0]
bronze = [9, 10, 5, 12, 9, 5, 2, 1, 5, 7, 1, 2, 2, 6, 2, 4, 3, 1, 2, 1, 0, 6, 2, 1, 0, 1]
olympic_medal_counts_df = DataFrame({'country_name' : Series(countries), 
                                     'gold' : Series(gold), 
                                     'silver' : Series(silver),
                                     'bronze' : Series(bronze)})
numpy.array([gold,silver,bronze]).T
numpy.dot(numpy.array([gold,silver,bronze]).T, [4,2,1])
df = olympic_medal_counts_df
df[ df['gold'] >= 1 ]['bronze'].mean()
df.head()
df[ ( df['gold'] >= 1 ) | ( df['silver'] >= 1 ) | ( df['silver'] >= 1 ) ].mean()
df[ df['gold'] + df['silver'] + df['silver'] >= 1 ].mean()
medals = df[ df['gold'] + df['silver'] + df['silver'] >= 1 ][['gold','silver','bronze']].apply(numpy.sum, axis=0)
medals[ df.dtypes == int ]/df.count()
df.select_dtypes(include=[numpy.int]).mean()
points = numpy.dot(df[['gold','silver', 'bronze']],[4,2,1])
numpy.array([gold,silver,bronze]).T
points = numpy.dot(numpy.array([gold,silver,bronze]).T, [4,2,1])
numpy.array([gold,silver,bronze]).transpose()
olympic_points_df = DataFrame({'country_name' : Series(countries),
                              'points' : Series(points) })

In [ ]:
import pandas as pd
path_to_csv = "./p2_problem_sets_234/p2_ps2/Master.csv"
path_to_new_csv = "./p2_problem_sets_234/p2_ps2/FullMaster.csv"
df = pd.read_csv(path_to_csv)
df['nameFull'] = df['nameFirst'] + " " + df['nameLast']
df.to_csv(path_to_new_csv)

In [ ]:
passenger = pd.read_csv("kaggle-titanic/titanic_data.csv")

In [ ]:
import json
import requests

baseurl = 'http://ws.audioscrobbler.com/2.0/'
method = 'method=geo.getTopArtists'
api_key = '57ee3318536b23ee81d6b27e36997cde'
api_key = 'api_key=' + api_key
country = 'country=spain'
url = baseurl + '?' + method + '&' + country + '&' + api_key + '&format=json'

def api_get_request(url):
    data = requests.get(url)
    data = json.loads(data.text)
    return data['topartists']['artist'][0]['name']

In [ ]:
data = api_get_request(url)
print(data)

In [ ]:
import pandas
import pandasql

filename = './p2_problem_sets_234/p2/weather_underground.csv'
def num_rainy_days(filename):
    '''
    This function should run a SQL query on a dataframe of
    weather data.  The SQL query should return one column and
    one row - a count of the number of days in the dataframe where
    the rain column is equal to 1 (i.e., the number of days it
    rained).  The dataframe will be titled 'weather_data'. You'll
    need to provide the SQL query.  You might find SQL's count function
    useful for this exercise.  You can read more about it here:
    
    https://dev.mysql.com/doc/refman/5.1/en/counting-rows.html
    
    You might also find that interpreting numbers as integers or floats may not
    work initially.  In order to get around this issue, it may be useful to cast
    these numbers as integers.  This can be done by writing cast(column as integer).
    So for example, if we wanted to cast the maxtempi column as an integer, we would actually
    write something like where cast(maxtempi as integer) = 76, as opposed to simply 
    where maxtempi = 76.
    
    You can see the weather data that we are passing in below:
    https://www.dropbox.com/s/7sf0yqc9ykpq3w8/weather_underground.csv
    '''
    weather_data = pandas.read_csv(filename)
    #SELECT fog, MAX(maxtempi) FROM weather_data WHERE fog == 1 order by fog, MAX(maxtempi)
    #SELECT fog, MAX(maxtempi) FROM weather_data GROUP BY fog
    #SELECT DAYNAME(date) from weather_data LIMIT 10
    
    weather_data['date'] = pd.to_datetime(weather_data['date']);
    
    q = """
    SELECT AVG(CAST(mintempi AS INTEGER)) FROM weather_data WHERE
        CAST(rain AS INTEGER) == 1 and
        CAST(mintempi AS INTEGER) > 55;
    """
    
    #Execute your SQL command against the pandas frame
    rainy_days = pandasql.sqldf(q.lower(), locals())
    return rainy_days
print(num_rainy_days(filename))

In [ ]:
df = pandas.read_csv(filename);
df_col_ser = df.columns.to_series();
df_col_ser[df_col_ser.str.startswith('max')];
print([ print(column) for column in list(df.columns) if column.rfind('rain') != -1 ])

In [ ]:
file = './data/turnstile_110507.txt'
filenames = [file]

In [ ]:
import csv
file = './data/turnstile_110507.txt'
f_in = open(file,'r')
sfile = file.split(sep='/') # sfile = split file
sfile[-1] = "updated_" + sfile[-1]
output = '/'.join(sfile)
f_out = open(output, 'w')

In [ ]:
reader_in = csv.reader(f_in, delimiter=',')
writer_out = csv.writer(f_out,delimiter=',')

In [ ]:
for i in range(1,9):
    line = 'line_'+str(i) + '= [line[0:2], line['
    nums = [5*(i-1)+3, 5*(i-1)+7]
    line = '    line_'+str(i) + ' = [line[0:2], line[' + str(nums[0]) +':' + str(nums[1]) + ']]'
    print(line)
for i in range(1,9): 
    writer = '    writer_out.writerow(line_' + str(i) + ')'
    print(writer)

In [ ]:
# not skipping first line, as it doesn't contain headers
# reader_in.__next__();

In [ ]:
import csv
file = './data/turnstile_110507.txt'
f_in = open(file,'r')

sfile = file.split(sep='/') # sfile = split file
sfile[-1] = "updated_" + sfile[-1]
output = '/'.join(sfile)

f_out = open(output, 'w')

reader_in = csv.reader(f_in, delimiter=',')
writer_out = csv.writer(f_out,delimiter=',')
for line in reader_in:
    i = 1
    outline = []
    while i * 5 + 2 <= len(line):
        outline = line[0:3]+ line[i * 5 - 2:i * 5 + 3]
        writer_out.writerow(outline)
        i+=1
f_in.close()
f_out.close()

In [ ]:
q = '000660121'

In [ ]:
import pandas
import numpy

def filter_by_regular(filename):
    '''
    This function should read the csv file located at filename into a pandas dataframe,
    and filter the dataframe to only rows where the 'DESCn' column has the value 'REGULAR'.
    
    For example, if the pandas dataframe is as follows:
    ,C/A,UNIT,SCP,DATEn,TIMEn,DESCn,ENTRIESn,EXITSn
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    1,A002,R051,02-00-00,05-01-11,04:00:00,DOOR,3144335,1088159
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    3,A002,R051,02-00-00,05-01-11,12:00:00,DOOR,3144424,1088231
    
    The dataframe will look like below after filtering to only rows where DESCn column
    has the value 'REGULAR':
    0,A002,R051,02-00-00,05-01-11,00:00:00,REGULAR,3144312,1088151
    2,A002,R051,02-00-00,05-01-11,08:00:00,REGULAR,3144353,1088177
    '''
    Names = ['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn']
    turnstile_data = pandas.read_csv(filename,header=None, names=Names)
    turnstile_data = turnstile_data[turnstile_data['DESCn'] == 'REGULAR']
    return turnstile_data

In [ ]:
filename = 'data/updated_turnstile_110507.txt'
df = filter_by_regular(filename)
df.to_csv('./test_df.csv')
s = df['ENTRIESn']
n = pandas.to_numeric(s)
n.fillna(0);

In [ ]:
import pandas
import numpy

filename = 'data/updated_turnstile_110507.txt'
Names = ['C/A','UNIT','SCP','DATEn','TIMEn','DESCn','ENTRIESn','EXITSn']
df= pandas.read_csv(filename,header=None, names=Names)
df = df[df['DESCn'] == 'REGULAR']
df.isnull().values.sum

So there are no NaN values.  This must be something different.

In [ ]:
df['EXITSn'] = [str(q).lstrip('0') for q in df['EXITSn']]
df['ENTRIESn'] = [str(q).lstrip('0') for q in df['ENTRIESn']]

In [ ]:
df.dtypes